<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508532652830-h26pqmd8l1qib1snsujpq32lebbthk0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508532652830-h26pqmd8l1qib1snsujpq32lebbthk0n</string>
	<key>API_KEY</key>
	<string>AIzaSyCN3xF0YgtBJHwAikMs6A7RoK74Txv1EWY</string>
	<key>GCM_SENDER_ID</key>
	<string>508532652830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stageprogram.sp</string>
	<key>PROJECT_ID</key>
	<string>stage-program-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>stage-program-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508532652830:ios:4df1c0c4f5b67ae7c0e70f</string>
	<key>DATABASE_URL</key>
	<string>https://stage-program-ios.firebaseio.com</string>
</dict>
</plist>